body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #e7e7e7;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

#idholder {
    width:100%;
}

.paddown{
    padding-bottom:6px; !important
}